body{
  background-color: #27282e;
  margin: 4px;
}

p{
  color: white;
  margin: 1px;
}

h1, a, a:hover{
  color:#f02525;
  margin: 4px;
}

h2{
  color: #49BEAA;
}

label{
  color:#6494AA;
}

.child {
  display: inline-block;

  padding: .5rem 1rem;
  vertical-align: middle;
}

