
<html>
<head>
  <title>Recommender System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="bootstrap-autocomplete.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <a href="/index"><h1>Home</h1></a>
  <h2>Recs</h2>
  <form action="/thanks" method="GET">
    {%for type in org%}
    {% set outer_loop = loop.index%}

      <h2><u>{{loop.index}}</u></h2>

      {%for rec in org[type]%}
      
      <div class = "parent">
        <div class = "child">
          <p style="font-size: large;">{{rec[0]}}, {{rec[1]}} </p>
        </div>
        <div class = "child"> 
          <label class="form-check-label" for="{{outer_loop}}{{loop.index}}check" id = "w{{outer_loop}}{{loop.index}}">Not Watched</label>
        </div>
        <div class = "child">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name = "{{outer_loop}}{{loop.index}}check" id="inp{{outer_loop}}{{loop.index}}" onclick="myFunction({{outer_loop}}{{loop.index}})">
          </div>
        </div>
        

        <div class="slidecontainer child">
          <label for="{{outer_loop}}{{loop.index}}rat" class="form-label gone"></label>
          <input type="range" value = "0" class="form-range" min="0" max="5" step="0.5" name = "{{outer_loop}}{{loop.index}}rat" id = "{{outer_loop}}{{loop.index}}" style="display: none">
        </div>
        <div class = "child">
          <p id = "p{{outer_loop}}{{loop.index}}" class = "gone" style="display: none">{{outer_loop}}{{loop.index}}</p>
        </div>

      </div>

      {%endfor%}
    {%endfor%}
    <input type="submit" value="Submit">
  </form>


  <script>
    {%for j in range(1,org|length + 1)%}
      {%for i in range(1,11)%}
        var slider{{j}}{{i}} = document.getElementById("{{j}}{{i}}");
        var output{{j}}{{i}} = document.getElementById("p{{j}}{{i}}");
        output{{j}}{{i}}.innerHTML = slider{{j}}{{i}}.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
          slider{{j}}{{i}}.oninput = function() {
          output{{j}}{{i}}.innerHTML = this.value;
        }
      {%endfor%}
    {% endfor %}


      
    function myFunction(idNum) {
      // Get the checkbox
      // var status = document.getElementById("p11");
      var slider = document.getElementById(idNum.toString())
      var checkBox = document.getElementById("inp" + idNum.toString());
      var rat = document.getElementById("p" + idNum.toString());
      var watched = document.getElementById("w" + idNum.toString());
      // output11.innerHTML = checkBox.checked
      // // Get the output text
      // var text = document.getElementById("text");

      // // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
        slider.style.display = "block";
        rat.style.display = "block";
        watched.innerHTML = "Watched"
        
      } else {
        slider.style.display = "none";
        rat.style.display = "none";
        watched.innerHTML = "Not Watched"
        
      }
  }
    </script>

</body>
</html>
